@charaset="UTF-8" ;

body {
    line-height: 2 ;
    border-top: 3px solid #e3017f ;
}

a{
    text-decoration: none ;
}

header{
    padding-left: 100px ;
    padding-top: 150px ;
    padding-bottom: 30px ;
    color: #e8007d ;
    margin-top: 100px ;
    border-top: 1px solid #e3017f ;
    border-bottom:2px solid #ccc;
}

h1{
    font-size: 20px ;
}

h2 {
  width: 950px ;
  position: relative;
  font-size: 20px ;
  padding: .75em 1em .75em 1.5em;
  border-bottom: 2px solid #ccc;
margin-bottom: 30px ;
}
h2::after {
  position: absolute;
  top: .9em;
  left: .5em;
  content: '';
  width: 9px;
  height: -webkit-calc(100% - 1em);
  height: calc(80% - 1em);
  background-color: #e3017f;
  border-radius: 4px;
}

main{
    width: 2000px ;
    padding-top: 30px ;
    padding-left: 100px ;
}

main table {
    width: 1000px ;
    border-collapse: collapse ;
    border: 1px solid #c0c0c0 ;
}

th{
    width: 300px ;
    border: 1px solid #c0c0c0 ;
    text-align: left ;
    padding: 20px ;
    background: #f9f9f9 ;
}

th p {
    display: inline ;
    text-align: center ;
    font-size: 80% ;
    padding: 5px ;
    background: #fff ;
    color: #e3017f ;
    border: 2px solid #e3017f ;
    border-radius: 5px
}

/*「姓」「名」とテキスト入力画面の間の空白*/
td.name1 input[type="text"] {
    margin-left: 25px ;
}
td.name2 input[type="text"] {
    margin-left: 10px ;
}
/*「姓」「名」とテキスト入力画面の間の空白*/

td {
    border: 1px solid #c0c0c0 ;
    text-align: left ;
    padding: 20px
}
td ul li{
    list-style: none ;
    float: left ;
    width: 250px ;
    height: 50px ;
    margin: 10px ;
    line-height: 50px ;
    text-align: center ;
}

/*ラジオボタンのスタイル*/
input[type="radio"] {
display: none ;
}

.rbtn + label{
    padding: 10px 80px 10px 80px;
    position:relative;
    margin-right: 20px;
    background: #f9f9f9 ;
    border-radius: 5px
}

.rbtn + label::before { 
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #999;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #fff ;
    top: 11px ;
    left: 11px ;
}

.rbtn:checked + label {
    color: #fff ;
    background: #f354a4 ;
    border-radius: 10px
}

.rbtn:checked + label::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #f354a4;
    width: 9px;
    height: 9px;
    background: #f354a4;
    border-radius: 50%;
    top: 14px ;
    left: 14px ;
}
/*ラジオボタンのスタイルここまで*/

td.address input[type="text"] {
    margin-left: 50px ;
}

.address {
     margin-left: 160px ;
     font-size: 95% ;
}




main input.color2 {
    width: auto ;
    font-weight: bold ;
    color: #fff ;
    background: #e3017f ;
    border-radius: 5px ;
    padding: 5px ;
}

footer {
    margin-left: 100px ;
    margin-bottom: 50px ;
}

footer table {
    width: 1000px ;
    height: 0px ;
    border-collapse: collapse ;
    border: 1px solid #c0c0c0 ;
    margin-bottom: 100px ;
}

footer a.footerbtn1 {
    width: auto ;
    font-weight: bold ;
    text-align: center ;
    border-radius: 500px ;
    background: #f9f9f9 ;
    padding: 20px 50px 20px 20px ;
}

footer a.footerbtn2 {
    width: auto ;
    font-weight: bold ;
    text-align: center ;
    border-radius: 500px ;
    background:#e3017f ;
    color: #fff ;
    margin-left: 100px ;
    padding: 20px 50px 20px 100px ;
}

p.caution{
    color: #e3017f ;
}

a:link { color: #000 }
a:visited { color: #000; }
a:hover { color: #000; }
a:active { color: #000; }
